body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #f1f5f9;
}

/* LOGIN */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #0f172a, #2563eb);
}

.login-box {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 340px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.login-box h1 {
  font-size: 20px;
}

.subtitle {
  color: #64748b;
  margin-bottom: 15px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  cursor: pointer;
}

.login-box span {
  display: block;
  margin-top: 10px;
  color: #2563eb;
  cursor: pointer;
}

/* APP */
#app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 230px;
  background: #0f172a;
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar button {
  width: 100%;
  margin: 6px 0;
  padding: 10px;
  border: none;
  background: #1e293b;
  color: white;
  border-radius: 6px;
}

.sidebar button:hover {
  background: #334155;
}

.content {
  flex: 1;
  padding: 25px;
}

/* DASHBOARD */
.cards {
  display: flex;
  gap: 20px;
}

.card {
  background: white;
  padding: 25px;
  flex: 1;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* FORM */
.form-card {
  background: white;
  padding: 15px;
  margin: 15px 0;
  display: flex;
  gap: 10px;
  border-radius: 10px;
}

input {
  padding: 10px;
  flex: 1;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
}

/* TABLE */
table {
  width: 100%;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

th {
  background: #2563eb;
  color: white;
}

th, td {
  padding: 12px;
}

/* LIST */
ul {
  list-style: none;
}

li {
  background: white;
  margin: 5px 0;
  padding: 12px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

/* TOAST */
#toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #10b981;
  color: white;
  padding: 12px;
  border-radius: 6px;
  display: none;
}

.hidden { display: none; }